:root {

  --border-radius-master: 10px;
  --master-button-color: #1BABAA;

}

body {

  font-family: 'Helvetica', 'Arial', sans-serif !important;

}

.navbar {

 background-color: white !important;
  
}

#form-center-div {

  display: flex;
  flex-direction: column;
  max-height: 70% !important;
  align-items: center;
  box-shadow: 2px 5px 7px #888888;
  min-width: 25%;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 2% !important;
  margin-top: 9vh;

}

#form-box {

  display: flex;
  flex-direction: column;
  align-items: center;

}

.visible {

  visibility: visible;
  opacity: 1;
  transition: opacity .3s linear;

}

.hidden {

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity .3s linear;
  
}

.form_group {

  margin-bottom: 6px !important;

}


#generate-insights{


}

@media only screen and (max-width: 575px) {
  #navbarNav {
    margin-right: 4% !important;
    margin-top: -8%;
  }
}
