.filter-bar {
    
    width:15%;
    
}

.filter-flex {

    margin-top: 25px;

    max-width: 100%;
    min-width: 1%;

    display: grid;
    grid-template-columns: 3fr 17fr 8fr 2fr;
    gap: 3em;
    padding-right: .5%;
    border-right: 5%;
    
    padding-left: 6%;
    padding-right: 6%;

}

#filterButton {

    min-width: 30%;
    margin-right: 5px;

}

#filter-button-div {

    align-items: center;
    text-align: center;
    justify-content: center;
    min-width: 80%;


}

.button-pressed {

        background-color: #3c5690 !important;
        color: white !important;
}

#reset-button-div {

    justify-content: center;
    min-width: 80%;

}

#filter-button-div, #reset-button-div > * {

    min-width: 80%;

}