
  #graph-box {

    display: grid;
    grid-template-columns: 3fr 7fr;
    max-width: 100%;
    grid-auto-rows: auto;
    padding-top: 12px;

  }

  @media only screen and (max-width: 1200px) {
    #graph-box {
      display: flex;
      flex-direction: column;
    }
  }

  #numberdisplay {

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    margin-top: 4%;

  }
  
  .chartbox {

    padding-top: 4%;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 24px;
    
    margin-right: 12px;
    margin-bottom: 12px;
    
    max-height: 85vh;
    max-width: 99%;

    box-shadow: 2px 5px 7px #888888;

    overflow-y: scroll;
  }

  #leftbox {

    max-width: 99%;
    padding: 40px;
    max-height: 80vh;
    overflow-y: scroll;

  }

  #outerleftbox {

    display: flex;
    flex-direction: column;
    box-shadow: 2px 5px 7px #888888;

    max-width: 99%;

    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    max-height: 85vh;

  }