.transflex {

    display: grid;
    grid-template-columns: 3fr 5fr 3fr .7fr;
    grid-auto-rows: auto;
    justify-items: center;
    min-width: fit-content;
    border: #888888;
    grid-gap: 5px;
    border-bottom-style: solid;
    margin-bottom: 15px;

}

.transflex > div {

    overflow-x: visible;
    max-width: 95%;
}

#transaction-buttons {

    margin-left: 12vw;
    display: flex;
    flex-direction: row;
    border-style: none;

}

#resetbutton {
    
    color: white;
    background-color: var(--master-button-color);
    font-size: large;
    border-bottom-left-radius: var(--border-radius-master) !important;
    border-bottom-right-radius: var(--border-radius-master) !important;
}

#mytransactions {

    font-size: large;
    border-width: 2px;
    color: white;
    background-color: #464646;
    border-top-left-radius: var(--border-radius-master) !important;
    border-top-right-radius: var(--border-radius-master) !important;

}

.checkbox {

    height: 20px;
    width: 20px;

}

#chooser-flex{

    display: flex;
    flex-direction: row;
    justify-content: center;

}
.chooser {

    width: 50%;

}